<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Form!</title>
</head>

<body>

    <form action="submitformthree" method="post">

        <div>
            <label for="Name">Name :</label>
            <input type="text" name="Name">
        </div>
        <div>
            <label for="Game">Game :</label>
            <input type="text" name="Game">
        </div>

        <input type="submit" value="Submit Form">


    </form>


</body>

</html>